

.contents{
    text-align: center;
}

.parent,  #header{
    font-family: 'Times New Roman', sans-serif;
    color: red;
    text-align: center;
    font-style: italic;
}

.parent{
    color: black;
    font-size: 20px;
}

img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.list{
    text-align: center;
    list-style-type: none;
}

.ingredient.list{
    display: table;
    
    text-align: center;
}



.steps.list{
    text-align: center;
    list-style-type: decimal; /* remove bullets */  
    list-style-position: inside;
    
}

p, ul, ol{
    font-family: 'Times New Roman', sans-serif;
    
}

ul, ol{
    margin: 0px auto;
    padding: 0px;
}

